database/data/*
*.env
.idea/*
feeder/logs/*
feeder/__pycache__/*
feeder/utility/__pycache__/*
feeder/repository/__pycache__/*
feeder/service/__pycache__/*
feeder/data/duckdb/json/*
.DS_Store
.pyc
backup/*