active: local

local:
  # configurations about gathering data
  gather:
    start_date: 2025-12-15
    end_date: null
    data-source:
      tickers:
        url: https://api.massive.com/v3/reference/tickers
        filters:
          exchange: XNYS
          market: stocks
          type: CS
          active: true
          order: asc
          limit: 1000
          sort: ticker
    ticker-overview:
      url: https://api.massive.com/v3/reference/tickers
      filters: null
    daily-ticker-summary:
      url: https://api.massive.com/v1/open-close
      filters:
        adjusted: true
